@{ ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "prayer_ticketlist";
    ViewData["Heading"] = "<i class='fal fa-cross'></i>&nbsp;" + ViewBag.Title;
    ViewData["Category1"] = "Prayer List";
    ViewData["PageDescription"] = "10% to Orphan Charity"; }
@section HeadBlock
{

}



<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">


        @Html.Raw(ViewBag.PrayerList)


</div>


@section ScriptsBlock
{

    <script>



    </script>

}
